PG_FRONT_URL=http://localhost/pg/pgfront.do
CARD_POINT_AMOUNT=5000
SUCCESS_TEXT_PATTERN=포인트허브 결제 성공
LOCAL_STACK_DIR=/Users/harry/docker/middleware-stack
API_POINT_TTL_PNT=1000
API_POINT_TTL_PAY_AMT=5000
API_POINT_TTL_PNT_AMT=1000
API_POINT_CARD_PROVIDER=KB
API_POINT_SHOP_CMSN_RATE=10
HEADED_SLOW_MO_MS=250
