PG_FRONT_URL=http://localhost/pg/pgfront.do
PAYMENT_PG_PROVIDERS=세틀뱅크,메크로스,페이레터
CARD_POINT_AMOUNTS=5000
SUCCESS_TEXT_PATTERN=포인트허브 결제 성공
FAMILY_PAYMENT_AMOUNTS=900,5000,501000
FAMILY_PAYMENT_SHOP_NAME=세틀_패밀리박스
FAMILY_PAYMENT_SHOP_CODES=PO0134,PO0018,PO0017,PO0016,PO0015,PO0011
FAMILY_PAYMENT_SUCCESS_TEXT_PATTERN=가족 분 "손창익", "김학진", "최창현", "이용수", "최주희"님에게 할인권 요청 메시지가 발송 되었습니다
LOCAL_STACK_DIR=/Users/harry/docker/middleware-stack
PG_API_BASE_URL=http://localhost
PG_API_PG_CD=PG0006
PG_API_SHOP_CD=API_ph_CU
PG_API_SHOP_NAME=API_pointhub용 CU
PG_API_SHOP_PAY_METHOD=CU
PG_API_GOODS_NAME=ApiTest상품
PG_API_POINT_TARGET_AMOUNT=4000
PG_API_SHOP_CMSN_RATE=0
PG_API_AUTHORIZATION="dSgVkYp3s6v9y$B&E)H@McQeThWmZq4t7w!z%C*F-JaNdRgUjXn2r5u8x/A?D(G+"
PG_API_CUST_CI=p/8cpnfrPfHF8JDF61xaIyHskFbNrbXLJuyVEJwGtXDOJ2bznkmZDSh8+HhHIwZvxPXpVjMYFbssO0WQxrOoDT68YwoWJ7gg6w3d5WrIswbZ2bhvF336qhjN3EKIKlh2
PG_API_CUST_NAME=veMvOJTU0L98Zq20ceDJJA==
PG_API_CUST_CTN=0Lamm89+8wGhhHvtMMzuIA==
HEADED_SLOW_MO_MS=250
